@media only screen and (max-width: 768px){
  .progressText {
        display:none;
    }
  
    .progressInactiveText {
        display:none;
    }
}

.progressText{
        width: 100%;
        color: #ffffff;
        font-size: large;
        font-weight: bold;
        margin-top: 10%;
    }
    
.progressInactiveText{
        width: 100%;
        color: #ffffff;
        font-size: large;
        margin-top: 10%;
    }
